body{
	margin-left:30px;
	margin-right:30px;
}

#passing {
	color:green ;
}

.navbar-default {
	margin-bottom: 0px;
	/*margin-left: -20px*/
}

#user-title{
	background: #72ceff;
	color:white;
	/*background: #0bb0ba; logo: #0bb0ba*/
	padding:5px;
	text-align: center;
}

#block-title {
	background: #72ceff;
	color:white;
	
	/*background: #0bb0ba;*/

	padding:5px;
	text-align: center;
}

#upload-form {
	margin-top:30px;
}

#login-form {
	margin-top:30px;
}

#ucsf-picture {
	/*margin-left:-50px;*/
	/*margin-right:-50px;*/

	/*background: url("ucsf_image2.jpg") no-repeat;*/
	background: url("ucsf_picture.jpg") no-repeat;

	background-size: 100% 100%;
	/*background: url("ucsf_picture.jpg") no-repeat right bottom;*/
    height: 700px;
    max-height: 100%;
    max-width: 100%;
}


