{% extends 'clinicaltrials/base.html' %}
{% block body %}


<div id = "trial-title"><h2> {{trial}} </h2>
<h4> Creation date: {{trial.creationDate}}</h4></div>
<div class="title"> <h2> Reported Adverse Events</h2> </div>
<!-- <h3> Reported Adverse Events</h3> -->
<!-- <h5> {{adverseEvents}} </h5> -->

<!-- {% for advent in adverseEvents %}
	<h5>{{advent}}</h5>
	<br>
{% endfor %}
<br> <br> -->

<table id="adverse-table" class="table table-hover">
    <thead class="blue-grey lighten-4">
    	 <tr>
            <th>Subject</th>   
            <th>Adverse Event</th>
        </tr>
    </thead>
    <tbody>
    	{% for advent in adverseEvents %} 
    	<tr>
    		<td > {{advent.subject}} </td>
    		<td> {{advent.eventToString}} </td>
    	</tr>
    	{% endfor %}
    </tbody>
</table>



<div class="title"><h2>Blockchain Ledger</h2></div>
<h4 id = "passing">Validation: {{validityMessage}}</h4>

<button> <a href="{% url 'clinicaltrial:downloadMultiple' %}"> Download full blockchain </a> </button>
<!-- <h4 id = "crossValidate">Cross Validation with Other Nodes: {{crossValidation}}</h4> -->
<table class="table table-hover">
    <thead class="blue-grey lighten-4">
        <tr>
            <th>Block Index</th>
            <th>Time Stamp</th>
            <th>Sender</th>
            <th>Receiver</th>
            <th>File</th>
            <th>Previous Block Hash</th>   
            <th>Block Hash</th>
        </tr>
    </thead>
    <tbody>
    	{% for block in blocks %}
    		{% if block.index == 1 %}
    		<tr> 
    			<th scope="row">{{block.index}}</th>
	            <td>{{block.timeStamp}}</td>
	            <td> -- </td>
	            <td> -- </td>
	            <td>genesis block</td>
	            <td> -- </td>
	            <td>{{block.hashString}}</td>
    		</tr>
    		{% else %}
	        <tr>
	            <th scope="row">{{block.index}}</th>
	            <td>{{block.timeStamp}}</td>
	            <td>{{block.fileReference.sender}}</td>
	            <td>{{block.fileReference.owner}}</td>
	            {% if user == block.fileReference.owner or user.is_superuser %}
		            <td> <a href="{% url 'clinicaltrial:download' path=block.fileReference.data.path name=block.fileReference.filename %}"> {{block.fileReference.filename}} </a> 
		            {% else %}
		            <td>{{block.fileReference.filename}}
            	{% endif %}
	            {% if block.fileReference.encrypted %}
	            	
	            	<form action="{% url 'clinicaltrial:decryptdownload' block.fileReference.data.path  %}" method="post">
						{% csrf_token %}
						<input class="decrypt-password" type="text" name="decryptpassword" value="">
						<br>
						<input class="decrypt-download-btn" type="submit" value="download decrypted file">
					</form>
	            {% endif %}
				</td>
	            <td>{{block.previousHash}}</td>
	            <td>{{block.hashString}}</td>
	        </tr>
    		{% endif %}
		{% endfor %}
    </tbody>
</table>

{% endblock %}



