
{% extends 'clinicaltrials/base.html' %}
{% block body %}

{% if all_trials %}
<h1> All Clinical Trials </h1>
		{% for trial in all_trials %}
			<a href = "{% url 'clinicaltrial:detail' trial.id %}">{{trial.title}}</a>
			               <!-- href = "/clinicaltrials/{{trial.id}}/" -->
		{% endfor %}
{% else %}
<h1> no trials in data base </h1>
{% endif %}

{% if messages %}
    {% for message in messages %}
    <h4> {{message}} </h4>
    {% endfor %}
</ul>
{% endif %}

<br><br>
<div id="ucsf-picture"></div>

{% endblock %}

